/************* TESTING **************/
/* .row, .col {
    border: 1px solid red;
}   */

/* .d-flex {
    border: 1px solid red;
}  */


/************* FONTS **************/

* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item, h1, h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

/************* CONTAINERS **************/

#home {
    height: 100vh;
}

.navbar, #footer {
    height: 10vh;
    background: #252839;
    border-bottom: 1px solid #c0bbb0ab ;
}

#skills {
    background-color: whitesmoke;        
}

#about, #skills {
    height: fit-content!important;
    padding: 20vh 10vh;
}

#projects {
    background-color: rgba(220,220,220,.6);
    border-top: 1px single lightgray;
    border-bottom: 1px single lightgray;
    height: 100%;
    padding: 8em 1em 5em 1em;
}

#reviews {
    height: 100%;
    padding: 8em 6em 1em 6em;
}
    

#contact {
    padding: 20vh 10vh 10vh 10vh;
    background-color: #252934;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 50% 13%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 50% 13%);
}

#footer {
    background: whitesmoke;
    border-top: 1px double #c0bbb0ab; 
}


/************* LANDING PAGE **************/





/************* POSITION INDICATOR **************/
/* Credits to https://codepen.io/pankajparashar/pen/towxF */

progress {
    /* Positioning */
    position: absolute;
    left: 0;
    top: 0;

    /* Dimensions */
    width: 100%;
    height: 0.4em;

    /* Reset the apperance */  
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* For Firefox/IE10+ */
    background-color: transparent;

    /* For IE10+, color of the progress bar */
    color: rgba(242,182,50,0.836);
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, #f2b632); 
}

.single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, #f2b632);
}

.progress__container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .4em;
    display: block;
}

.bar {
    background-color: #f2b632;
    width: 50%;
    display: block;
    height: inherit;
}

progress {
    background: #252839;
}


/************* NAVBAR **************/

#navbar__logo {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
}

nav a {
    color: whitesmoke;
}


/************* ABOUT *********************/
/* Animation */
/* Inspired by: https://freebiesupply.com/blog/css-text-effects-from-codepen/ */


#iam-1 {
    padding-top: 5em;
    padding-bottom: .3em;
    font-size: 2em;
    color: #999; 
    text-align: center;
    width: 100%;
}

#iam-2 {
    font-size: 2em;
    margin: 0 auto;
    overflow: hidden;
    height: 1.2em;
    padding: 0;
}

#iam-1 p {
    height: 50px;
    overflow: hidden;
    margin: 0;
}

#iam-2 .inner {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
    /*animation*/
                                /* -webkit-animation:move 5s;
                                -moz-animation:move 5s;
                                -ms-animation:move 5s;
                                -o-animation:move 5s; */
    animation:move 5s;

    /*animation-iteration-count*/
                                /* -webkit-animation-iteration-count:infinite;
                                -moz-animation-iteration-count:infinite;
                                -ms-animation-iteration-count:infinite;
                                -o-animation-iteration-count:infinite; */
    animation-iteration-count:infinite;

    /*animation-delay*/
                                /* -webkit-animation-delay:2s;
                                -moz-animation-delay:2s;
                                -ms-animation-delay:2s;
                                -o-animation-delay:2s; */
    animation-delay:1s;
}

@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
    100% {top: -250px; }
}
  
                                /* @-webkit-keyframes move {
                                    0%  { top: 0px; }
                                    20% { top: -50px; }
                                    40% { top: -100px; }
                                    60% { top: -150px; }
                                    80% { top: -200px; }
                                }

                                @-moz-keyframes move {
                                    0%  { top: 0px; }
                                    20% { top: -50px; }
                                    40% { top: -100px; }
                                    60% { top: -150px; }
                                    80% { top: -200px; }
                                }

                                @-o-keyframes move {
                                    0%  { top: 0px; }
                                    20% { top: -50px; }
                                    40% { top: -100px; }
                                    60% { top: -150px; }
                                    80% { top: -200px; }
                                } */







/************** SKILLS *******************/
/* Inspired by: https://codepen.io/Balsakup/pen/QKPPZO */
/*Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/

.skill-card {
    position: relative;
    top: 50%;
    left: 50%;
                                                     /* -webkit-transform: translateY(-50%) translateX(-50%); */
    transform: translateY(-50%) translateX(-50%);
    width: 185px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
}

.skill-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: whitesmoke;
}

.skill-card:hover .skill-card__header {
    height: 2.5em;
}

.skill-card:hover .skill-card__header .skill-card__icon {
                                                        /* -webkit-transform: translateX(-50%) translateY(-50%) scale(3); */
    transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card:hover .skill-card__body {
    height: 170px;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li {
                                                         /* -webkit-transform: translateX(0); */
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
    transition-duration: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
    transition-delay: 0.25s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
    transition-delay: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
    transition-delay: 0.75s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
    transition-delay: 1s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
    transition-delay: 1.25s;
}

  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
    transition-delay: 1.5s;
}

.skill-card img {
    width: 100%;
    max-width: 130px;
    margin: 0 auto;
    height: auto;
}

.skill-card .skill-card__header {
    position: relative;
    background-color: #e8edf3;
    height: 170px;
    margin: 0 auto;
    transition: height 0.5s;
    overflow: hidden;
}

.skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
                                                /* -webkit-transform: translateY(-50%) translateX(-50%); */
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 128px;
    height: 128px;
                                                /* transition: -webkit-transform 0.5s; */
    transition: transform 0.5s;
                                                /* transition: transform 0.5s, -webkit-transform 0.5s; */
}

.skill-card .skill-card__title {
    text-align: center;
    padding-top: 2.5%;
    color: #393D3F;
}

.skill-card .skill-card__body {
    height: 40px;
    transition: height 0.5s;
    overflow: hidden;
}

.skill-card .skill-card__body .skill-card__title {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-card .skill-card__body .skill-card__knowledge {
    text-align: center;
    margin-top: 10%;
    color: #393D3F;
}

.skill-card .skill-card__body .skill-card__knowledge li {
    margin-top: 5px;
    list-style-type: none;
    transition-duration: 0;
    transition-delay: 0.5s;
                                                    /* -webkit-transform: translateX(-100%); */
    transform: translateX(-100%);
}


.invitation p {
    margin-top: 5em;
}

.invitation img {
    height: 50px;
    width: 50px;
    display: block;
    text-decoration: none;
    border-color: none!important;
    color: #f2b632;
    border-radius: 50%;
}



.invitation img:hover, .invitation img:focus {
    transform: scale(1.1,1.1); /* Standard syntax */
    transition-duration: 1s;
    border: 2px solid  #f2b632;
}






/* ********** PROJECTS ******************/
/* Inspired by https://codepen.io/anon/pen/ZMwPbP */






/************* REVIEW  *******************/

.testimonial {
    position: relative;
}

#reviews .testimonial__photo img {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 100%;
    max-width: 200px;
    height: auto;
}


#reviews .testimonial__photo img[alt*="Jane Doe"] {
    border: 25px double silver;
}

#reviews .testimonial__photo img[alt*="Charles Quimpo"] {
    border: 25px double darkgoldenrod;
}

#reviews .testimonial__photo img[alt*="Ivan Calimlim"] {
    border: 25px double tan;
}

#reviews .testimonial__photo img[alt*="John Doe"] {
    border: 25px double lightslategray;
}

.blockquote > p {
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
}

.testimonial__footer {
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
}

.blockquote a {
    color:#f2b632;
}

.blockquote a:hover {
    color: #f7c75d;
    text-decoration: none;
    font-weight: 800;
    
}





/************* CONTACT PAGE **************/
/* clip path tool: https://bennettfeely.com/clippy/ */

textarea {
    width: 100%;
    padding-left: 0;
}

.form-control, textarea {
    border-radius: 0!important;
    border: 0 solid transparent;
    background: #e8edf3;
}

.form-btn {
    background: #f2b632
}

.form-btn:hover {
    box-shadow: none!important;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1.1,1.1); /* Standard syntax */
    transition-duration: 2s;
    border: 2px solid  #f2b632;
    color:  #393D3F!important;
}

.form-control:focus, .form-control:active, textarea:focus, textarea:active {
    border-radius: 0!important;
    box-shadow: none!important;
    background-color: whitesmoke;
}

/************* FOOTER **************/


#footer i {
    padding: .4em;
    border: .5px solid #252934;
    border-radius: 50%;
}

#footer .fab:hover {
    color: #FFCA3A;
}

#footer .flex-row:first-child {
    margin-top: 1.5vh;
}

#footer small {
    margin-top: .8vh;
}

/* #footer hr {
    border-color: #FFCA3A;
} */

/* footer {
    margin-top: 3em;
    -webkit-clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
} */









/************* DESKTOP **************/

@media only screen and (min-width: 961px) {

    .nav-link:active, .nav-link:focus, .nav-link:visited, .nav-link:hover {   
        border-bottom: 1px solid #f2b632;
        color: whitesmoke;
    }


    #skills {
        padding: 8em 1em 5em 1em;
    }

    .blockquote:first-of-type,
    .blockquote:nth-of-type(2),
    .blockquote:nth-of-type(3) {
        margin-bottom: 10em;
    }

    

    .blockquote p::before {
        position: static;
        content: "\201C";
        /* display: inline-block;  */
        width: 1005;
        text-align: center;
        line-height: .7;
        font-size: 2.5em;
        font-family: 'Roboto';
        color: #f4aa07;
    }
    
    .blockquote p::after {
        position: static;
        content: " \201D";
        /* display: block;  */
        width: 1005;
        text-align: center;
        line-height: .7;
        font-size: 2em;
        font-family: 'Roboto';
        color: #f4aa07;
    }

    /* review placements */
    img[alt*="Jane Doe"], img[alt*="Ivan Calimlim"] {
        float: left;
        margin-right: 1em;
    }

    img[alt*="Charles Quimpo"], img[alt*="John Doe"] {
        float: right;
        margin-left: 1em;
    }

    


   
}

/************* TABLET **************/

@media only screen and (min-width:426px) and (max-width:960px) {

    /* for sides of containers to be removed */
    #home .col-lg-1,
    #about .col-lg-1,
    #skills .col-lg-1,
    #projects .col-lg-1,
    #reviews .col-lg-1,
    #contact .col-lg-1, {
        display: none!important;
    }

    /*container adjustments*/
    /* #skills {
        padding: 3em 1em 5em 1em;
    } */

    #reviews {
        padding: 3em!important;
    }

    #contact {
        padding: 10em 3em 3em 3em;
    }

    


    /* skill card spacing */

    .skill-card
    /* .margin-top {
        margin-top: 1em;
    } */

    #skills col-lg-10:first-of-type {
        padding: inherit;
    }



    /* reviews spacing */
    .blockquote .testimonial__footer > span, blockquote .testimonial__footer a {
        display: block;
        text-align: center;
    }

    .blockquote {
        margin-bottom: 6em;
    }

    .blockquote:last-of-type {
        margin-bottom: 0;
    }

    .blockquote .hide {
        display: none!important;
    }

    /* since hover does not apply to desktop*/
    .nav-link:focus {   
        border-bottom: 1px solid #f2b632;
        color: whitesmoke!important;
    }

    .form-btn:focus {
        box-shadow: none!important;
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1.1,1.1); /* Standard syntax */
        transition-duration: 2s;
        border: 2px solid  #f2b632;
        color:  #393D3F!important;
    }

    #footer .fab:focus {
        color: #f2b632;
    }

    .nav-link:active, .nav-link:focus, .nav-link:visited { 
        border-bottom: 1px solid #f2b632;
        color: whitesmoke!important;
    }

    
    .blockquote a:focus {
        color: #f7c75d;
        text-decoration: none;
        font-weight: 800;
    }

    .blockquote p::before {
        position: static;
        content: "\201C";
        /* display: inline-block;  */
        width: 1005;
        text-align: center;
        line-height: .7;
        font-size: 2.5em;
        font-family: 'Roboto';
        color: #f4aa07;
    }
    
    .blockquote p::after {
        position: static;
        content: " \201D";
        /* display: block;  */
        width: 1005;
        text-align: center;
        line-height: .7;
        font-size: 2em;
        font-family: 'Roboto';
        color: #f4aa07;
    }
    
    /* review placements */
    img[alt*="Jane Doe"], img[alt*="Ivan Calimlim"] {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;

    }

    img[alt*="Charles Quimpo"], img[alt*="John Doe"] {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }


    



}









/************* MOBILE **************/

@media only screen and (max-width:425px) {

    /* for sides of containers to be removed */
    #home .col-lg-1,
    #about .col-lg-1,
    #skills .col-lg-1,
    #projects .col-lg-1,
    #reviews .col-lg-1,
    #contact .col-lg-1, {
        display: none!important;
    }

    /* for navigation to be accessible */
    .navbar-nav {
        text-align: center;
        background-color: rgba(37, 40, 57, 0.781);
        padding: 0!important;
    }

    .navbar--collapse {
        background-color: #252839;
        color: whitesmoke;
        width: 100vh;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    nav button img {
        width: 100%;
        height: auto;
        max-width: 30px;

    }

    .navbar-toggler>.close {
        display:inline;
    }

    .navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
        display:none;
    }

    .navbar-toggler span:first-of-type {
        color: white;
    }

    .nav-link:first-of-type {
        margin-top: .5em;
    }

    /* container adjustments */

    #contact, #reviews {
        padding: 10em .5em 5em .5em;
    }

    .blockquote {
        padding: 0;
        margin-bottom: 5em;
    }

    .blockquote:last-of-type {
        margin-bottom: 0;
    }

    /* skill card spacing */
    .margin-top {
        margin-top: 2em;
    }


    /* review area adjustments */
    .blockquote {
        color: #393D3F;
    }

    .blockquote .testimonial__footer > span, blockquote .testimonial__footer a {
        display: block;
        text-align: center;
    }

    .blockquote .hide {
        display: none!important;
    }

    .blockquote p::before {
        position: static;
        content: "\201C";
        /* display: inline-block;  */
        width: 1005;
        text-align: center;
        line-height: .7;
        font-size: 2.5em;
        font-family: 'Roboto';
        color: #f4aa07;
    }
    
    .blockquote p::after {
        position: static;
        content: " \201D";
        /* display: block;  */
        width: 1005;
        text-align: center;
        line-height: .7;
        font-size: 2em;
        font-family: 'Roboto';
        color: #f4aa07;
    }

    /* review placements */
    img[alt*="Jane Doe"], img[alt*="Ivan Calimlim"] {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;

    }

    img[alt*="Charles Quimpo"], img[alt*="John Doe"] {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }




    /* clip path angle */
    #contact {
        background-color: #252934;
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 50% 10%);
        clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 50% 10%);
    }

    /* for form input and buttons to be adjusted */
    form .col-sm-12 {
        margin-top: 20px;
    }

    .no-margin-top {
        margin-top: 0!important;
    }

    #btn-divider {
        display: block;
        margin: 0.5em 0;
    }

    .form-btn:first-of-type {
        margin-top: 1em;
    }


    /* so name and copyright will fit */
    #footer small {
        word-spacing: none;   
    }

    #footer .hide {
        display: none!important;
    }


    /* since hover does not apply */
    .form-btn:focus {
        box-shadow: none!important;
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1.1,1.1); /* Standard syntax */
        transition-duration: 2s;
        border: 2px solid  #f2b632;
        color:  #393D3F!important;
    }

    #footer .fab:focus {
        color: #f2b632;
    }
    
    .nav-link:active, .nav-link:focus, .nav-link:visited { 
        text-decoration-line: underline;
        text-decoration-color: #f2b632;
        color:  whitesmoke!important;
        border-bottom: transparent;
        font-weight: 700;
    }

    .blockquote a:focus {
        color: #f7c75d;
        text-decoration: none;
        font-weight: 800;

    

    
    
}



